```
{% if error %}
{{ error }}

The correct rating format is

"rate MENU_ID RATING_VALUE COMMENT"

(for example: rate vl9l8b8w 5 The food was really good.)

** MENU_ID is the value on the left side of each meal
** RATING_VALUE is between 1<lowest> to 5<highest>
** COMMENT is optional.
{% endif %}
```
